.card {
  width: 180px;
  cursor: pointer;
}

.poster {
  width: 100%;
  display: block;
  border-radius: 6px;
}

.info {
  margin-top: 0.5rem;
}

.info h3 {
  font-size: 0.9rem;
  margin: 0;
}

.info span {
  font-size: 0.8rem;
}