.hero {

  min-height: 95vh;

  background-size: cover;

  background-position:center;

  position:relative;

}


.overlay {

  min-height:95vh;

  display:flex;

  align-items:center;


  background:

    linear-gradient(
      90deg,
      rgba(0,0,0,.95) 10%,
      rgba(0,0,0,.7) 45%,
      rgba(0,0,0,.25)
    ),

    linear-gradient(
      0deg,
      #000 0%,
      transparent 40%
    );


  padding:

    8rem 5rem 5rem;

}



.container {

  display:flex;

  align-items:center;

  gap:4rem;

  max-width:1400px;

}



.posterContainer {

  flex-shrink:0;

}



.poster {


  width:320px;


  border-radius:12px;


  box-shadow:

    0 25px 60px rgba(0,0,0,.8);


  transition:
    transform .3s ease;

}


.poster:hover {

  transform:
    scale(1.03);

}



.details {

  max-width:750px;

  color:white;

}



.title {

  font-size:

    clamp(2.5rem,5vw,5rem);


  line-height:1.05;


  margin-bottom:1.5rem;

}



.meta {

  display:flex;

  gap:1.5rem;


  margin-bottom:1.5rem;


  color:#ddd;

  font-weight:600;

}



.rating {

  color:#46d369;

}



.genres {

  display:flex;

  gap:.7rem;

  flex-wrap:wrap;

  margin-bottom:1.5rem;

}



.genre {

  padding:

    .4rem .9rem;


  background:

    rgba(255,255,255,.15);


  border-radius:20px;


  font-size:.85rem;


  backdrop-filter:blur(5px);

}



.overview {

  color:#ddd;


  font-size:1.1rem;


  line-height:1.7;


  margin-bottom:2rem;

}



.actions {

  display:flex;

  gap:1rem;

}



.actions button {


  padding:

    .9rem 2.5rem;


  border:none;


  border-radius:6px;


  font-size:1rem;


  font-weight:700;


  cursor:pointer;


  transition:.25s;

}



.playButton {

  background:white;

  color:black;

}



.playButton:hover {

  background:#ddd;

}



.listButton {

  background:

    rgba(120,120,120,.7);


  color:white;

}



.listButton:hover {

  background:

    rgba(120,120,120,.9);

}