.searchPage {

  min-height:100vh;

  background:#000;

  color:white;

  padding-top:100px;

}





.searchHeader {

  padding:

    3rem 4rem 2rem;


}





.searchHeader h1 {


  font-size:3rem;


  margin-bottom:2rem;


}





.status {

  margin-top:1.5rem;

  color:#aaa;

}





.error {

  margin-top:1.5rem;

  color:#e50914;

}





.count {

  margin-top:1.5rem;

  color:#aaa;

}





.results {


  padding:

    2rem 4rem 5rem;


}





@media(max-width:768px){


  .searchHeader {

    padding:

      2rem 1.5rem;

  }



  .searchHeader h1 {

    font-size:2rem;

  }



  .results {

    padding:

      1rem 1.5rem;

  }


}